.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid #e5e7eb;

	.logo {
		display: flex;
		align-items: center;

		.icon {
			height: 1.5rem;
			width: 1.5rem;
			color: #ff5722;
		}

		.brand {
			margin-left: 0.5rem;
			font-size: 1.25rem;
			font-weight: 600;

			&-edu {
				color: #111827;
			}

			&-eden {
				color: #ff5722;
			}
		}
	}

	.login-prompt {
		font-size: 0.875rem;

		.login-button {
			background-color: #ffeee8;
			color: #ff5722;
			padding: 0.5rem 1rem;
			margin-left: 1rem;
		}
	}
}

.signup-container {
	min-height: 100vh;
	display: flex;

	.illustration-section {
		display: none;
		background-color: #ebebff;
		align-items: center;
		justify-content: center;

		@media (min-width: 1024px) {
			display: flex;
			width: 50%;
		}

		.rocket-image {
			width: 100%;
			max-width: 28rem;
		}
	}

	.form-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (min-width: 1024px) {
			width: 50%;
		}

		.form-wrapper {
			max-width: 28rem;
			width: 100%;
			margin: 0 auto;

			.title {
				font-size: 1.5rem;
				font-weight: 700;
				color: #111827;
				margin-bottom: 0.75rem;
			}

			.signup-form {
				display: flex;
				flex-direction: column;

				.input-wrapper {
					position: relative; 

					.input-field {
						width: 100%;
					}

					.error-text {
						position: absolute;
						bottom: .65rem;
						right: .4rem;
						color: #ff0000;
						font-size: 0.75rem;
                        &-password {
                            position: absolute;
                            color: #ff0000;
                            font-size: 0.75rem;
                            left:0
                        }
					}
				}

				.password-fields {
					display: grid;
					grid-template-columns: 1fr;
					gap: 0.75rem;

					@media (min-width: 768px) {
						grid-template-columns: 1fr 1fr;
					}
				}

				.terms {
					display: flex;
					align-items: center;
                    margin-top: 2rem;
                    margin-bottom: .4rem;
                    

					&-checkbox {
						height: 1rem;
						width: 1rem;
						color: #ff5722;
						border-color: #d1d5db;

						&:focus {
							ring-color: #ff5722;
						}
					}

					&-label {
						margin-left: 0.5rem;
						font-size: 0.75rem;
						color: #4b5563;
					}

					&-link {
						color: #ff5722;
						&:hover {
							text-decoration: underline;
						}
					}
				}

				.create-account-btn {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 0.5rem;
                    margin-bottom: .5rem;
					box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

					.arrow-icon {
						width: 1rem;
						height: 1rem;
					}
				}

				.social-signup {
					//    margin-top: 1.5rem;

					.divider {
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 0.75rem;
						color: #4b5563;
						margin-bottom: 0.5rem;

						.line {
							flex-grow: 1;
							border-top: 1px solid #d1d5db;
						}

						&-text {
							padding: 0 0.5rem;
						}
					}

					.google-signup {
						display: flex;
						justify-content: center;

						.google-button {
							display: flex;
							align-items: center;
							justify-content: center;
							gap: 0.5rem;
							padding: 0.25rem 0.5rem;
							border: 1px solid #d1d5db;
							background-color: #374151;
							color: #ffffff;
							box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

							&:hover {
								background-color: #1f2937;
							}

							.google-icon {
								width: 1rem;
								height: 1rem;
							}
						}
					}
				}
			}
		}
	}
}
.error-text {
	color: #ff0000;
	font-size: 0.75rem;
	margin-top: 0.1rem;
}
